__pycache__/
zoo5/
.venv/
.vscode/
models/deploy_vgg16_places365.prototxt
models/deploy_vgg16_places365.prototxtZone.Identifier
models/vgg16_places365.caffemodel
models/vgg16_places365.caffemodelZone.Identifier
places365_full.zip
zoo5_full/
vgg16_best.pth.tar
vgg16_latest.pth.tar
isd_images/
isd_images.zip
isd_vgg16_best.pth.tar